<%- include('layout/header') %>
<div class="container text-center mt-5">
    <div class="main-card">
        <h2>🌙 نعتذر منك</h2>
        <p class="lead"><%= msg %></p>
        <a href="/" class="btn btn-ramadan">العودة للرئيسية</a>
    </div>
</div>
<%- include('layout/footer') %>